.idea
# Pyramid Development Environment
#
# Vim files
*.swp
*.swo
#
# Python compiled files
*.py[co]
#
# Python eggs
*.egg-info
*.egg
*.eggs
build
dist
#
# Compiled translations files
*.mo
#
# Pyramid Project Files
.coverage
Data.fs*
*.sublime-project
*.sublime-workspace
