@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #443F3F;
	background: #F6EEFC;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
	margin: 5px;
}
label{
	margin: 5px;
}
input[type=radio]{
	margin: 10px;
}

.btn{
	margin: 5px;
	background: #D8D3DA;
}
.btn:hover{
	background: #B7ABBC;
}

.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.starter-template {
  margin-top: 50px;
	margin-left: 100px;
}
.starter-template .content {
  margin-left: 10px;
	width: auto;
}
.starter-template .content ul {
	margin-top: 18px;
	padding: 0;
}
.starter-template .content li {
	display: inline;
	border-bottom: 1px solid #E4DAE7;
	list-style: none;
	margin-top: 10px;
	padding: 10px;
}
.starter-template .content li:hover {
	background: #B7ABBC;
	color: #640E92;
}
.starter-template .content li a {
	font-size: 20px;
  color: #640E92;
	padding: 10px;
	text-decoration: none;
}
.starter-template .content h1 {
  margin-top: 10px;
  font-size: 40px;
}
.starter-template .content h1 .smaller {
  font-size: 20px;
  color: #640E92;
}
.starter-template .content .lead {
	font-size: 20px;
  color: #443F3F;
}
.starter-template .content .lead .font-normal {
  color: #443F3F;
}
.rowQuestion {
	margin-left: 20px;
}
.starter-template .links {
  float: right;
  right: 0;
  margin-top: 125px;
}
.starter-template .links ul {
  display: block;
  padding: 0;
  margin: 0;
}
.starter-template .links ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
.starter-template .links ul li:first-child {
  margin-left: 0;
}
.starter-template .links ul li:last-child {
  margin-right: 0;
}
.starter-template .links ul li.current-version {
  color: #f2b7bd;
  font-weight: 400;
}
.starter-template .links ul li a {
  color: #ffffff;
}
.starter-template .links ul li a:hover {
  text-decoration: underline;
}
.starter-template .links ul li .icon-muted {
  color: #eb8b95;
  margin-right: 5px;
}
.starter-template .links ul li:hover .icon-muted {
  color: #ffffff;
}
.starter-template .copyright {
  margin-top: 10px;
  font-size: 0.9em;
  color: #f2b7bd;
  text-transform: lowercase;
  float: right;
  right: 0;
}

